*{
    background-color:#faebd7;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: crimson;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #513A1E;
    text-decoration: underline wavy black;
    background: #EDA739;
}

ul {
    text-align: center;
    list-style:none;
}