*{
    background-color:#faebd7;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: crimson;
    margin-bottom: 1%;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #513A1E;
    text-decoration: underline wavy black;
    background: #EDA739;
    text-align: center;
}

ul {
    text-align: center;
    list-style:none;
}
h2 {
    text-align: center;
    font-style: italic;
    margin-bottom: 2%;
    font-size: 40px;
}